#body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:1500px;  
}
#header {
    background-color: #bf2626;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    height: 30px;   
    position: fixed;
    width: 81.5%;
   z-index: 1;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 50px;
}

.header-logo div {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    width: 74%;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: -25px;
    font-weight: bold;
    border-radius: 10px
}

.nav a:hover {
    background-color: #ccc;
    color: #bf2626;
}

.dropdown {
    position: relative;
    display: block;
}

.hienmenu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.hienmenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.hienmenu a:hover {
    border-left: 4px solid #bf2626;
}

.dropdown:hover .hienmenu {
    display: block;
}

.chuchay {
    height: 45px;
    background-color: #ccc;
    
}

.chuchay marquee {
    font-size: 20px;
    font-weight: bold;
    color: #A80002;
    z-index: 1;
    padding-top: 3px;

}

.chuchay #date {
    display: block;
    background-color: #ccc;
    padding: 0 20px;
    color: #A80002;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    z-index: 2;
}
#footer {
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
    border-top: 2px solid #ccc;
    margin-top: 20px;
   
}
#container{
    width:1250px;
    margin: 0 auto;
}

#footer p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}
.HCM a{
    text-decoration: none;
    color: black;
}
.thanh{
    height: 50px;
    background-color: #A80002;
}
.thanh p {
    color: white;
    text-align: left;
    padding: 20px 10px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}
.dautrang{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #A80002;
}
.noidung img{
    width: 30%;
    margin-left: 500px;
}
